.header, .nav,.main,.sidebar,.advatarise,.footer
{
    background-color: antiquewhite;
    border: 3px solid tomato;
    padding: 5px;
    border-radius: 5px;
}
.header
{
    grid-area: h;
}
.nav
{
    grid-area: n;
}
.main
{
    grid-area: m;
}
.sidebar
{
    grid-area: s;

}
.advatarise
{
    grid-area: ad;
}
.footer
{
    grid-area: ft;
}
.containar
{
    display: grid;
    grid-template-areas:
    "h   h   h   h"
    "n   m    m   s"
    "n   m    m   ad"
    "ft  ft   ft   ft"
    ;
}



@media screen and (max-width:576px) {

    .containar
    {
        grid-template-areas: 
        "h"
        "n"
        "m"
        "s"
        "ad"
        "ft"
        ;
    }
    
}



@media screen and (min-width:576px) and (max-width:992px) {
    .nav ol
    {
        display: flex;
        justify-content: space-between;
    }

    .containar
    {
        grid-template-areas: 
        "h  h"
        "n   n"
        "s   m"
        "ad  ft"
        ;
    }
    
}